.bround {
  border-radius: 1em;
  color: white;
  background: url('6961094951_a35c7031a2_n.jpg') no-repeat 0 0 scroll;
  background-size: 100% 100%;
  height:50em;
  width:50em;
}
.text {
  margin-left: 2em;
}

.body {
  max-width: 50%;
  background-color:#blue;
}

.credit {
   bottom: 1px || auto || inherit;
}
